.mobile-footer-social-component {
  margin: 20px 0;

  .centered-block {
    color: #471ab0;
    font-size: 16vw;
    margin: 0 auto;

    a {
      margin: 0 10vw;
    }

    i {
      color: #471ab0;
      vertical-align: middle;
    }
  }
}