.category-component-container {
  margin-bottom: 30px;

  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: 900;
    padding-left: 15px;
    color: #ffffff;
    width: 255px;
    height: 35px;
    background-color: #501fc7;
  }

  img {
    width: 100%;
  }
}