.news-item-container {
  padding: 25px 0;

  img {
    width: 100%;
  }

  .title {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    font-weight: bold;
    color: #000000;
  }

  .info {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #9b9b9b;

    span:first-child {
      border-right: 1px solid darkgoldenrod;
      margin-right: 20px;
      padding-right: 20px;
    }

    span:last-child {
      border-left: 1px solid darkgoldenrod;
      margin-left: 20px;
      padding-left: 20px;
    }
  }

  .short-text {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #000000;
  }

  .read-more a{
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: #501fc7;
    text-decoration: underline;
  }

  .social {
    margin-top: 20px;

    a {
      font-size: 25px;
      color: gray;
      margin-right: 20px;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }
    }
  }
}