.rating-component {
  position: relative;
  .rating-box {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 900;
    height: 70px;
    text-align: center;
    width: 70px;
    box-shadow: 0 2px 4px 2px rgba(5, 4, 4, 0.5);
  }

  .rating-a {
    background-image: linear-gradient(137deg, #1bd34b, #d5e969);
  }

  .rating-b {
    background-image: linear-gradient(46deg, #e7d50e, #95e585);
  }

  .rating-c {
    background-image: linear-gradient(230deg, #e7d50e, #f28f0d);
  }

  .rating-d {
    background-image: linear-gradient(229deg, #da7b24, #e11c1c);
  }

  .rating-f {
    background-image: linear-gradient(to bottom, #e01c1c, #9f031b);
  }

  .rating-na {
    background-image: linear-gradient(215deg, #ffffff, #000000);
  }
}